<form (ngSubmit)="updateEmployee()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="employee.name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="employee.email">
    </div>
    <div class="form-group">
        <label for="salary">Salary</label>
        <input type="text" name="salary" class="form-control" [(ngModel)]="employee.salary">
    </div>
    <button class="btn btn-dark btn-sm mt-4">Mise à jour</button>
</form>